<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" parallel="2" thread-count="2">
  <test name="unitTests">
    <groups>
      <run>
        <include name="unitTest"/>
        <include name="learningTest"/>
      </run>
    </groups>
    <packages>
      <package name="com.maxheapsize.quant.*"/>
    </packages>
  </test>


</suite>